$primaryButton: #0095f6;
$primaryButtonHover: #1877f2;

$secondaryButton: #262626;

$linkText: #00376b;
$secondaryText: #737373;

$secondaryBackground: #fafafa;

$stroke: #dbdbdb;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: none;
  background: none;
}

button {
  cursor: pointer;

  &:has(:nth-child(2)) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &:disabled {
    cursor: default;
  }
}

input {
  outline: none;
}

.page {
  &.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div:last-child {
      width: 350px;
      overflow: scroll hidden;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.screenshots-container {
  width: 380.32px;
  height: 581.15px;
  margin: 0 32px 12px 0;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url(/images/home-phones.png);
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    display: block;
  }

  img {
    width: 250px;
    height: 538.84px;
    position: absolute;
    top: 27px;
    right: 19px;
    transition: opacity 600ms ease-out;
  }
}

.login-signup {
  & > div:first-child {
    padding: 46px 40px 20px;
    border: 1px solid $stroke;

    & > .icon {
      margin: 0 auto;
    }

    & > div:first-child {
    }

    form {
      button {
        width: 100%;
        margin: 8px 0;
      }
    }
  }

  & > div:nth-child(2) {
    padding: 21.1px 0;
    margin: 10px 0;
    border: 1px solid $stroke;

    p {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: black;
    }

    button {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: $primaryButton;
    }
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 14px;
      color: black;
    }

    div {
      margin: 20px 0 0;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    img {
      height: 40px;
    }
  }
}

.log-in {
  margin: 36px 0 0;

  & > button:first-of-type {
    width: 100%;
    margin: 8px 0;

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #385185;
    }
  }

  & > button:last-child {
    width: 100%;
    margin: 12px 0 0;
  }
}

.sign-up {
  margin: 12px 0 0;

  & > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $secondaryText;
  }

  & > button:first-of-type {
    width: 100%;
    margin: 18px 0;
  }

  .or {
    margin: 0 0 18px;
  }

  form {
    label {
      margin: 0 0 6px;
    }
  }
}

.reset-password {
  border: 1px solid $stroke;

  & > .icon {
    margin: 24px auto 16px;
  }

  & > span:first-of-type {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: block;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $secondaryText;
    margin: 16px 28px;
  }

  & > span:last-of-type {
    text-align: center;
    margin: 12px 28px 32px;
    display: block;
  }

  form {
    margin: 0 28px;

    button {
      width: 100%;
      margin: 8px 0;
    }
  }

  & > button {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $secondaryButton;
    width: 100%;

    &:hover {
      opacity: 0.5;
    }

    &:first-of-type {
      margin: 0 28px 84px;
    }

    &:last-child {
      height: 44px;
      border: 1px solid $stroke;
      border-radius: 2px;
      background: $secondaryBackground;
    }
  }
}

.or {
  width: 100%;
  margin: 10px 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }

  * {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.1538;
    text-transform: uppercase;
    color: $secondaryText;
    padding: 0 18px;
    background: white;
    position: relative;
    z-index: 1;
  }
}

.icon {
  display: block;

  &.instagram {
    width: 174px;
    height: 50px;
    background-image: url(/icons/sprite.png);
    background-position: 0px 0px;
    background-size: 176px 264px;
    background-repeat: no-repeat;
  }

  &.fb {
    width: 16px;
    height: 16px;
    background: url(/icons/sprite2.png) no-repeat;
    background-position: -414px -259px;
  }

  &.fb-lite {
    width: 16px;
    height: 16px;
    background: url(/icons/sprite2.png) no-repeat;
    background-position: -414px -300px;
  }

  &.lock {
    width: 96px;
    height: 96px;
    background: url(/icons/sprite2.png);
    background-repeat: no-repeat;
    background-position: -130px 0;
  }
}

label {
  height: 36px;
  margin: 0 0 6px;
  border: 1px solid $stroke;
  border-radius: 3px;
  background: $secondaryBackground;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  position: relative;
  cursor: text;

  span {
    font-size: 12px;
    line-height: 36px;
    color: $secondaryText;
    height: 36px;
    position: absolute;
    top: 0;
    left: 8px;
    transition: translate 100ms ease-out;
  }

  input {
    font-size: 16px;
    line-height: 18px;
    color: black;
    width: 100%;
    padding: 9px 10px 7px 8px;
    position: relative;
    z-index: 1;
  }

  &.unempty {
    span {
      scale: calc(10 / 12);
      translate: 0 -10px;
      transform-origin: left;
    }

    input {
      font-size: 12px;
      padding: 14px 0 2px 8px;
    }
  }
}

.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 16px;
  border-radius: 8px;

  &.primary {
    color: white;
    background: $primaryButton;

    &:not(:disabled) {
      &:hover {
        background: $primaryButtonHover;
      }

      &:active {
        background: rgba($primaryButton, 0.7);
      }
    }

    &:disabled {
      background: rgba($primaryButton, 0.7);
    }
  }
}

.text {
  &.link {
    font-size: 12px;
    line-height: 16px;
    color: $linkText;
  }
}
